/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

header {
    background-image: url(img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    height: 32rem;
}


footer {
    justify-content: center;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 1rem;
    
}

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

.main-par {
    text-align: center;
    color: white;
    padding: 1.9rem;
    font-size: 1.15rem;
    line-height: 1.7rem;
}

summary {
    background-color: rgb(0,187,172);
    width: 10%;
    border: .1rem white dashed;
}

ul > li {
    border: 1rem white dashed;
    height: 20rem;
    width: 10%;
}

div.main-button {
    justify-content: center;
}
button.main-button {
    border: none;
    border-radius: 3rem;
    padding: 0.7rem 1.2rem;
    margin-right: 1rem;
    font-size: 1.15rem;
}

button.open-discord {
    background-color: #23272A;
    color: white;
}

div.item {
    height: 20rem;
    justify-content: center;
    align-items: center;
}

.info-item {
    justify-content: center;
    padding: 4rem;
}

div.discord-descr {
    width: 18%;
    padding: 1.5rem;
}

div.discord-img>img {
    height: 20rem;
}

div.discord-img {
    width: 30%;
    justify-content: flex-end;
}

p.descr-par {
    padding-top: 1rem;
    font-size: .8rem;
    line-height: 1.3rem;
}

div.big-item {
    width:60%;
    text-align: center;
}

p.bigitem-par {
    padding:  1rem 2rem;
    line-height: 1.5rem;
    font-size: 1.05rem;
}

.new-adventure {
    align-items: center;
    background: url(img/stars.svg), #f6f6f6;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
}

.button-adventure {
    align-items: center;
    padding-bottom: 4rem;
    background-color: #F6F6F6;
}
.mac-download {
    background-color: #8EA1E1;
    color: white;
    padding: 2rem;
}

div.social {
    background-color: rgb(255,119,121);
    width: 30%;
    border: .1rem black dashed;
}


.main-logo {

    width: 15%;
    height: 2rem;
    vertical-align: super;
}

.main-nav {
    width: 40%;
    text-align: center;
}

.login {
    width: 15%;
    text-align: center;
}

.container-item {
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.flex {
    display: flex;
}

.flexcol {
    display: flex;
    flex-direction: column;
}

.grey-bg {
    background-color: #F6F6F6;
}

.darkgrey-bg {
    background-color: rgb(34,39,42);
}

.page-header {
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.container {
    width: 100%;
    height: 20rem;
    justify-content: center;
}

.end-page {
    width: 100%;
    margin-top: 2rem;
    border-top: .2rem white solid;
    justify-content: center;
}

.register {
    width: 70%;
    background-color: #7CF8D4;
    height: 2rem;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

a:hover {
    text-decoration: underline;
}

#login-button {
    border: none;
    border-radius: .8rem;
    font-size: .7rem;
    padding: .4rem;
}

#speak-part {
    width: 50%;

}